* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.disco-btn {
  background-color: #ff7300;
  color: #000000;
  display: block;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  margin: 0 auto 10px;
}
.disco-btn:disabled {
  background-color: #a3a3a3;
  border-color: #212121;
  cursor: no-drop;
}

.timer-input {
  display: block;
  margin-left: 150px;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
  transition: font-size 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 15px;
  border-radius: 5px;
}
.timer-input:disabled {
  cursor: no-drop;
}

.timer-btn:hover,
.timer-btn:focus {
  font-size: 22px;
}

.start-timer-btn {
  display: block;
  background-color: #32ec86;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  margin: 0 210px 450px;
}

.start-timer-btn:hover,
.start-timer-btn:focus {
  background-color: #ff7300;
  color: #000000;
}

.start-timer-btn:disabled {
  background-color: #c9c9c9;
  color: gray;
  cursor: wait;
  border-color: #838383;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #fafafa;
  margin-left: 250px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.value {
  font-size: 30px;
}

.label {
  font-size: 20px;
}

.bcg {
  background-image: url(../images/ghostface.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.goback {
  color: #fafafa;
}
